# Terraform files
terraform.tfvars
*.tfvars
!*.tfvars.example
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.backup
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# OS files
.DS_Store

# Editor files
*.swp
*.swo
*~
.vscode/
.idea/

terraform-gcp-datawarehouse-369d72c63b0e.json
Azure terraform requirements
notes.txt
